@model Sale
@{
    ViewData["Title"] = "Редактировать продажу";
    var isAdmin = Context.Session.GetInt32("UserLevel") == 2;
}


<h1>@ViewData["Title"]</h1>

<form method="post" asp-controller="Sales" asp-action="Edit" id="saleForm">
    @* <div class="form-input">
        <label asp-for="Id"></label>
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div> *@

    <input type="hidden" asp-for="Id" />

    <div class="form-input">
        <label asp-for="ClientId"></label>
        @* <input asp-for="ClientId" /> *@
        <select asp-for="ClientId" asp-items="ViewBag.ClientList">
            <option value=""></option>
        </select>
        <span asp-validation-for="ClientId"></span>
    </div>

    @if (isAdmin) 
    {
    <div class="form-input">
        <label asp-for="EmployeeId"></label>
        @* <input asp-for="EmployeeId" /> *@
        <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeList">
            <option value=""></option>
        </select>
        <span asp-validation-for="EmployeeId"></span>
    </div>
    }

        else
        {
        <input type="hidden" asp-for="EmployeeId" />
        }

    <div class="form-input">
        <label asp-for="Date"></label>
        <input asp-for="Date" />
        <span asp-validation-for="Date"></span>
    </div>

    <div class="form-input">
        <label asp-for="Sum"></label>
        <input asp-for="Sum" />
        <span asp-validation-for="Sum"></span>
    </div>

    <input type="submit" value="Обновить" />

</form> 

<script>
     function checkClient() {
        let input = document.querySelector('[name="ClientId"]');
        let value = input.value.trim();
        let errorSpan = document.querySelector('[data-valmsg-for="ClientId"]');
        
        if (value === '') {
            errorSpan.innerHTML = "Выберите клиента";
            errorSpan.style.color = "red";
            input.style.border = "2px solid red";
            return false;
        } else {
            errorSpan.innerHTML = "";
            input.style.border = "";
            return true;
        }
    }

    function checkEmployee() {
        let input = document.querySelector('[name="EmployeeId"]');
        let value = input.value.trim();
        let errorSpan = document.querySelector('[data-valmsg-for="EmployeeId"]');
        
        if (value === '') {
            errorSpan.innerHTML = "Выберите сотрудника";
            errorSpan.style.color = "red";
            input.style.border = "2px solid red";
            return false;
        } else {
            errorSpan.innerHTML = "";
            input.style.border = "";
            return true;
        }
    }
    
    function checkDate() {
        let input = document.querySelector('[name="Date"]');
        let value = input.value.trim();
        let errorSpan = document.querySelector('[data-valmsg-for="Date"]');
        
        if (value === '') {
            errorSpan.innerHTML = "Заполните дату";
            errorSpan.style.color = "red";
            input.style.border = "2px solid red";
            return false;
        } else {
            errorSpan.innerHTML = "";
            input.style.border = "";
            return true;
        }
    }

    function checkSum() {
        let input = document.querySelector('[name="Sum"]');
        let value = input.value.trim();
        let errorSpan = document.querySelector('[data-valmsg-for="Sum"]');
        
        if (value === '' || value == null) {
            errorSpan.innerHTML = "Заполните сумму";
            errorSpan.style.color = "red";
            input.style.border = "2px solid red";
            return false;
        } else {
            errorSpan.innerHTML = "";
            input.style.border = "";
            return true;
        }
    }

    // function checkExemplars() {
    //    function checkExemplars() {
    //     let select = document.querySelector('[name="selectedExemplarIds"]');
    //     let selectedOptions = select.selectedOptions;
    
    //     if (selectedOptions.length === 0) {
    //         errorSpan.innerHTML = "Выберите экземпляры";
    //         errorSpan.style.color = "red";
    //         input.style.border = "2px solid red";
    //         return false;
    //     }
    //     return true;
    // }

    
     let form = document.getElementById('saleForm');
        form.addEventListener('submit', function(event) {
        let isClientIdOk = checkClient();
        let isEmployeeIdOk = checkEmployee();
        let isSumOk = checkSum();
        let isDateOk = checkDate();
    
        if (!isClientIdOk || !isEmployeeIdOk || !isDateOk || !isSumOk) {
            event.preventDefault();
        }
    });

     document.querySelector('[name="ClientId"]').addEventListener('input', checkClient);
     document.querySelector('[name="EmployeeId"]').addEventListener('input', checkEmployee);
     document.querySelector('[name="Date"]').addEventListener('input', checkDate);
     document.querySelector('[name="Sum"]').addEventListener('input', checkSum);

</script>