<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" /> *@
</head>
<body>
    <header>
        @{
            var isAdmin = Context.Session.GetInt32("UserLevel") == 2;
        }
       <nav>

            @if (Context.Session.GetString("IsLoggedIn") == "true")
                {
                <a href="/home">Главная</a>
                <a href="/editions">Книги</a>
                <a href="/clients">Клиенты</a>
                <a href="/exemplars">Экземпляры</a>
                <a href="/sales">Продажи</a>
                <a href="/returns">Возвраты</a>

                    @if (isAdmin)
                    {
                    <a href="/employees">Сотрудники</a>
                    }
                }
                

            @if (Context.Session.GetString("IsLoggedIn") == "true")
                {
                <form asp-controller="Log" asp-action="Logout" method="post">
                @Html.AntiForgeryToken()
                <button>Выйти</button>
                </form>
                }
                else
                {
                <a href="/log">Войти</a>
                }

       </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        @* Подвал какой-то хз *@
    </footer>
</body>
</html>
