@model Edition
@{
    ViewData["Title"] = "Добавление изданий";
}


<h1>Добавление издания</h1>

<form method="post" asp-controller="Editions" asp-action="Create" id="editionForm" class="form-input-cont">
    <div class="form-input">
        <label asp-for="ISBN"></label>
        <input asp-for="ISBN" />
        @* <span asp-validation-for="ISBN"></span>  *@
        <span class="text-danger">@Html.ValidationMessage("ISBN")</span> 
    </div>

    <div class="form-input">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-input">
        <label asp-for="Author"></label>
        <input asp-for="Author" />
        <span asp-validation-for="Author"></span>
    </div>

    <div class="form-input">
        <label asp-for="Genre"></label>
        <input asp-for="Genre" />
        <span asp-validation-for="Genre"></span>
    </div>

    <div class="form-input">
        <label asp-for="Publisher"></label>
        <input asp-for="Publisher" />
        <span asp-validation-for="Publisher"></span>
    </div>

    <div class="form-input">
        <label asp-for="Year"></label>
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>

    @* <div class="form-input">
        <label asp-for="CountShop"></label>
        <input asp-for="CountShop" />
        <span asp-validation-for="CountShop"></span>
    </div>

    <div class="form-input">
        <label asp-for="CountSklad"></label>
        <input asp-for="CountSklad" />
        <span asp-validation-for="CountSklad"></span>
    </div> *@

    <input type="submit" value="Отправить" />

</form>

<script>
    function checkISBN()
    {
        let isbnInput = document.querySelector('[name="ISBN"]');
        let isbn = isbnInput.value.trim();

        let errorSpan = document.querySelector('[data-valmsg-for="ISBN"]');

        if (isbn === '') {
            errorSpan.innerHTML = "Введите ISBN";
            errorSpan.style.color = "red";
            isbnInput.style.border = "2px solid red";
            return false;
        }

        if (isbn.length < 13) {
            errorSpan.innerHTML = "ISBN должен содержать минимум 13 символов";
            errorSpan.style.color = "red";
            isbnInput.style.border = "2px solid red";
            return false;
        }

        if (isbn.length > 17) {
            errorSpan.innerHTML = "ISBN не может быть длиннее 17 символов";
            errorSpan.style.color = "red";
            isbnInput.style.border = "2px solid red";
            return false;
        }

        let onlyDigitsAndDashes = /^[0-9-]+$/;
        if (!onlyDigitsAndDashes.test(isbn)) {
            errorSpan.innerHTML = "ISBN может содержать только цифры и дефисы";
            errorSpan.style.color = "red";
            isbnInput.style.border = "2px solid red";
            return false;
        }

        let hasDigits = /[0-9]/;
        if (!hasDigits.test(isbn)) {
            errorSpan.innerHTML = "ISBN должен содержать хотя бы одну цифру";
            errorSpan.style.color = "red";
            isbnInput.style.border = "2px solid red";
            return false;
        }

        errorSpan.innerHTML = "";
        isbnInput.style.border = "";
        return true;
    }

    function checkName()
    {
        let nameInput = document.querySelector('[name="Name"]');
        let name = nameInput.value.trim();

        let errorSpan = document.querySelector('[data-valmsg-for="Name"]');

        if (name === '') {
            errorSpan.innerHTML = "Введите название";
            errorSpan.style.color = "red";
            nameInput.style.border = "2px solid red";
            return false;
        }
        else {
            errorSpan.innerHTML = "";
            nameInput.style.border = "";
            return true;
        }
    }

    function checkAuthor()
    {
        let authorInput = document.querySelector('[name="Author"]');
        let author = authorInput.value.trim();
        let hasDigits = /\d/;

        let errorSpan = document.querySelector('[data-valmsg-for="Author"]');

        if (author === '') {
            errorSpan.innerHTML = "Введите ФИО автора";
            errorSpan.style.color = "red";
            authorInput.style.border = "2px solid red";
            return false;
        } else if (author.length < 4) {
            errorSpan.innerHTML = "ФИО автора слишком короткое";
            errorSpan.style.color = "red";
            authorInput.style.border = "2px solid red";
            return false;
        } else if (hasDigits.test(author)) {
            errorSpan.innerHTML = "ФИО автора не может содержать цифры";
            errorSpan.style.color = "red";
            authorInput.style.border = "2px solid red";
            return false;
        } else {
            errorSpan.innerHTML = "";
            authorInput.style.border = "";
            return true;
        }
    }

    function checkGenre()
    {
        let genreInput = document.querySelector('[name="Genre"]');
        let genre = genreInput.value.trim();

        let errorSpan = document.querySelector('[data-valmsg-for="Genre"]');

        if (genre === '') {
            errorSpan.innerHTML = "Введите жанр";
            errorSpan.style.color = "red";
            genreInput.style.border = "2px solid red";
            return false;
        }
        else {
            errorSpan.innerHTML = "";
            genreInput.style.border = "";
            return true;
        }
    }

    function checkPublisher()
    {
        let publisherInput = document.querySelector('[name="Publisher"]');
        let publisher = publisherInput.value.trim();

        let errorSpan = document.querySelector('[data-valmsg-for="Publisher"]');

        if (publisher === '') {
            errorSpan.innerHTML = "Введите издательство";
            errorSpan.style.color = "red";
            publisherInput.style.border = "2px solid red";
            return false;
        }
        else {
            errorSpan.innerHTML = "";
            publisherInput.style.border = "";
            return true;
        }
    }

    function checkYear()
    {
        let yearInput = document.querySelector('[name="Year"]');
        let year = yearInput.value.trim();

        let errorSpan = document.querySelector('[data-valmsg-for="Year"]');

        if (year === '') {
            errorSpan.innerHTML = "Введите год издания";
            errorSpan.style.color = "red";
            yearInput.style.border = "2px solid red";
            return false;
        }

        let onlyDigits = /^\d+$/;
        if (!onlyDigits.test(year)) {
            errorSpan.innerHTML = "Год должен содержать только цифры";
            errorSpan.style.color = "red";
            yearInput.style.border = "2px solid red";
            return false;
        }

        if (year.length !== 4) {
            errorSpan.innerHTML = "Год должен быть в формате yyyy (например: 2024)";
            errorSpan.style.color = "red";
            yearInput.style.border = "2px solid red";
            return false;
        }

        let yearNumber = parseInt(year);
        let currentYear = new Date().getFullYear();

        if (yearNumber < 1900) {
            errorSpan.innerHTML = "Год издания не может быть раньше 1900 года";
            errorSpan.style.color = "red";
            yearInput.style.border = "2px solid red";
            return false;
        }

        if (yearNumber > currentYear) {
            errorSpan.innerHTML = `Год издания не может быть позже ${currentYear} года`;
            errorSpan.style.color = "red";
            yearInput.style.border = "2px solid red";
            return false;
        }

        errorSpan.innerHTML = "";
        yearInput.style.border = "";
        return true;
    }

    let form = document.getElementById('editionForm');
    form.addEventListener('submit', function(event) {
        let isISBNOk = checkISBN();
        let isNameOk = checkName();
        let isAuthorOk = checkAuthor();
        let isPublisherOk = checkPublisher();
        let isYearOk = checkYear();
        let isGenreOk = checkGenre();

        if (!isISBNOk || !isNameOk || !isAuthorOk || !isPublisherOk || !isYearOk || !isGenreOk) {
            event.preventDefault();
        }
    });

    document.querySelector('[name="ISBN"]').addEventListener('input', checkISBN);
    document.querySelector('[name="Name"]').addEventListener('input', checkName);
    document.querySelector('[name="Author"]').addEventListener('input', checkAuthor);
    document.querySelector('[name="Publisher"]').addEventListener('input', checkPublisher);
    document.querySelector('[name="Year"]').addEventListener('input', checkYear);
    document.querySelector('[name="Genre"]').addEventListener('input', checkGenre);
</script>