@{
    ViewData["Title"] = "Главная";
}


    <h1>Главная</h1>
    <p></p>

<button class="main-btn">
    <a asp-controller="Editions" asp-action="Index">Издания</a>
</button>

<button class="main-btn">
    <a asp-controller="Exemplars" asp-action="Index">Экземпляры</a>
</button>

<button class="main-btn">
    <a asp-controller="Clients" asp-action="Index">Клиенты</a>
</button>

<button class="main-btn">
    <a asp-controller="Sales" asp-action="Index">Продажи</a>
</button>

<button class="main-btn">
    <a asp-controller="Returns" asp-action="Index">Возвраты</a>
</button>

<button class="main-btn">
    <a asp-controller="Employees" asp-action="Index">Сотрудники</a>
</button>
