@model Exemplar
@{
    ViewData["Title"] = "Добавление экземпляра";
}


<h1>Добавление экземпляра</h1>

<form method="post" asp-controller="Exemplars" asp-action="Create">
    <div class="form-input">
        <label asp-for="Id"></label>
        <input asp-for="Id" />
        <span asp-validation-for="Id"></span>
    </div>

    <div class="form-input">
        <label asp-for="EditionISBN"></label>
        @* <input asp-for="EditionISBN" /> *@
        <select asp-for="EditionISBN" asp-items="ViewBag.EditionList">
            <option value=""></option>
        </select>
        <span asp-validation-for="EditionISBN"></span>
    </div>


    <div class="form-input">
        <label asp-for="Section"></label>
        <input asp-for="Section" />
        <span asp-validation-for="Section"></span>
    </div>

    <div class="form-input">
        <label asp-for="Shelf"></label>
        <input asp-for="Shelf" />
        <span asp-validation-for="Shelf"></span>
    </div>


    <input type="submit" value="Отправить" />

</form>